<div container style="text-align:center">
  <div class="container-fluid">
    <div row>
      <div class="col-md-4 justify-content-center" *ngFor="let country of allCountries">

        <div class="card">
          <img class="card-img-top" src="assets/world.jpg">
          <div class="card-body">
            <h4 class="card-title">{{country.name | uppercase}}</h4><hr><br>
            <p class="card-text  text-left">
              abcktudfkgfbukfkuyjfkuyfk
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>